@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dropdown {
    position: absolute;
    border: 1px solid $Black;
    border-radius: 4px;
    right: 0;
    width: 10rem;

    &__lists {
        list-style: none;
        padding: 0rem;
        margin-left: 1rem;

        &--item {
            @include smallheader-mobile;
            margin-top: 1rem;
        }
    }
}