@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dropdown {
    position: absolute;
    background-color: $Orange;
    border: 1px solid $Black;
    border-radius: 4px;
    right: 0;
    width: 10rem;

    &__lists {
        list-style: none;
        padding: 0rem;
        margin-left: 1rem;

        &--item {
            @include smallheader-mobile;
            padding: 0.5rem;

            &:hover {
                border: 1px solid $Black;
            }
        }
    }
    &__logout {
        display: flex;
        gap: 1rem;

        &--icon {
            width: 0.95rem;
            height: 0.95rem;
        } 
    }
}