@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.side {
    display: none;

    @include tablet {
        display: unset;
        background-color: $Orange;
        width: 25%;
        border-left: 1px solid $Black;
        border-bottom: 1px solid $Black;
        border-radius: 4px;
        padding-left: 1rem;
        height: 20rem;

        @include desktop {
            width: 20%;
        }
    }

    &__lists {
        list-style: none;
        padding: 0rem;

        &--item {
            display: flex;
            align-items: center;
            gap: 1rem;
            @include subheader;
            margin: 1.5rem 0;
            width: 90%;
            padding: 0.5rem;

            &:hover {
                border: 1px solid $Black;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        &--link {
            text-decoration: none;
            white-space: nowrap;
            color: $Black;
        }
    }
}

.icons--sizing {
    @include icons;
}

.icon__about {
    margin-right: 1rem;
}