@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inputs {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.5rem;
        @include smallheader-mobile;

        @include tablet {
            @include smallheader;
        }
    }

    &__text {
        @include body-medium-mobile;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 100%;

        @include tablet {
            @include body-medium;
            width: 15rem;
        }
    }
}
