@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inputs {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.5rem;
        @include smallheader;
    }

    &__text {
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        @include body-medium;
        width: 15rem;
    }
}
