@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item {
    display: flex;
    padding: 0rem;
    align-items: baseline;
    gap: 1rem;

    &__link {
        text-decoration: none;
    }

    &__icon {
        width: 0.95rem;
        height: 0.95rem;
    }
}