@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.popup-overlay{
    background-color: rgba($color: $Black, $alpha: 0.7);
}

.popup {
    padding: 1.5rem 1rem;
    background-color: $White;
}