@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid $Orange;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;

    &__form {
        &--btn {
            @include button-style;
            width: 100%;

            &:hover {
                background-color: $Black;
                color: $White;
                cursor: pointer;
            }
        }

        &--upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        &--lbl {
            @include button-style;
            background-color: $Blue;
            display: block;
            text-align: center;
            width: 100%;
            padding: 0.6rem 0rem;
            margin-bottom: 1rem;

            &:hover {
                background-color: $Black;
                cursor: pointer;
            }
        }
    }

    &__state {
        @include body-medium;
        width: 80%;
    } 
}

.link__underline {
    @include smallheader;
    text-decoration: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0;
}