@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.message {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    &__header {
        @include subheader;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }
}