@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    height: 3.5rem;
    border-bottom: 1px solid $Black;

    &__logo {
        @include page-header;
        margin: 0rem;
        color: black;
    }

    &__link--underline {
        text-decoration: none;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--home {
            @include subheader;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }

        &--profileimg {
            display: block;
            @include icons;
            border-radius: 50%;
            object-fit: cover;
        }

        &--chat {
            @include subheader;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }

        &--dropdwn {
            @include icons;

            @include tablet {
                display: none;
            }
        }
    }
}