@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.aboutme {

    @include tablet {
        display: flex;
    }

    &__container {

        @include tablet {
            width: 80%;
        }
    }

    &__header {
        @include page-header-mobile;
        text-align: center;

        @include tablet {
            @include page-header;
        }
    }
}