@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.container {
    padding: 1rem 2rem;
    @include tablet {
        padding: 2rem 5rem;
    }

    &__header {
        @include page-header-mobile;
        text-align: center;

        @include tablet {
            @include page-header;
            text-align: center;
        }
    }
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid $Orange;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    @include tablet {
        width: 30rem;
    }
    &__form {
        width: 100%;
        @include tablet {
            width: auto;
        }
    }
    &__signup--title {
        @include subheader-mobile;
        margin-top: 0rem;
        @include tablet {
            @include subheader;
        }
    }
    &__form--btn {
        width: 100%;
        @include label-buttons-mobile;
        @include button-style;
        &:hover {
            background-color: $Black;
            color: $White;
            cursor: pointer;
        }
        @include tablet {
            @include label-buttons;
        }
    }
    &__divider {
        margin-top: 1rem;
        border-bottom: 2px solid $Orange;
        width: 15rem;
    }
    &__signup {
        @include label-buttons-mobile;
        background-color: $Black;
        color: $White;
        width: 8rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        border-style: none;
        margin-top: 1rem;
        
        &:hover {
            background-color: $Orange;
            color: $White;
            cursor: pointer;
        }
        @include tablet {
            @include label-buttons;
        }
    }
    &__state {
        @include body-medium-mobile;
        width: 80%;
        @include tablet {
            @include body-medium;
        }
    }
}