@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.member {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid $Orange;
    padding: 0.5rem;
    margin: 1rem 0rem;

    &__profile {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    &__username {
        display: none;

        @include tablet {
            display: unset;
            @include smallheader;
        }
    }
}