@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
    display: flex;

    &__contain {
        display: flex;
        flex-direction: column;
        padding: 0rem 6rem;
        width: 100%;

        &--bg {
            background-color: $Black;
            width: 100%;
            height: 50%;
        }
    }
    &__info {
        display: flex;
        border: 1px solid $Black;
        border-radius: 4px;
        padding: 0.5rem 2rem;
        align-items: center;
        gap: 3rem;

        &--profile {
            background-color: aqua;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }

        &--username {
            @include subheader;
        }
    }

    &__posts {
        @include page-header;
        text-align: center;
    }
}