@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
    display: flex;

    &__contain {
        margin: 0 auto;
        width: 80%;

        @include tablet {
            display: flex;
            flex-direction: column;
            padding: 0rem 2rem;
            width: 100%;
        }

        @include desktop {
            padding: 0rem 6rem;
        }

        &--bg {
            background-color: $Black;
            width: 100%;
            height: 4rem;

            @include tablet {
                width: 100%;
                height: 50%;
            }
        }
    }
    &__info {
        display: flex;
        border: 1px solid $Black;
        border-radius: 4px;
        padding: 0.5rem 2rem;
        align-items: center;
        gap: 3rem;

        &--profile {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }

        &--username {
            @include subheader-mobile;

            @include tablet {
                @include subheader;
            }
        }
    }

    &__posts {
        @include page-header-mobile;
        text-align: center;

        @include tablet {
            @include page-header;
        }
    }

    &__btn--color {
        @include button-style;
        @include label-buttons-mobile;

        &:hover {
            background-color: $Black;
            cursor: pointer;
        }

        @include tablet {
            @include label-buttons;
        }
    }

    &__btn--hide {
        display: none;
    }
}

// Change user background color
.Red {
    background-color: red;
}

.Black {
    background-color: Black;
}

.Blue {
    background-color: blue;
}

.Pink {
    background-color: pink;
}

.Green {
    background-color: green;
}

.Yellow {
    background-color: yellow;
}