@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.greetings {
    text-align: center;
    @include subheader;
}

.contain {
    width: 100%;

    @include tablet {
        display: flex;
        width: 100%;
    }

    &__comments {
        width: 100%;
    }

    &__main {

        @include tablet {
            width: 80%;
        }
    }
}

.comments {
    display: flex;
    justify-content: center; 
    gap: 1rem;
    border: 1px solid $Orange;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    
    @include tablet {
        margin: 0 auto 3rem auto;
        padding: 1rem 1rem;
    }

    &__profile {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__comment {
        border-radius: 5px;
        border-style: 1px;
        width: 15rem;
        padding-left: 1rem;
        @include body-medium;
    }
}

.shortcut {
    // display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    @include smallheader;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $Orange;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background-color: $Black;
    }
}